<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyy.mclub.dao.IDictgroupMapper">
  <!--  <resultMap id="BaseResultMap" type="com.wyy.mclub.model.Dictgroup">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="groupid" jdbcType="VARCHAR" property="groupid" />
    <result column="groupname" jdbcType="VARCHAR" property="groupname" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, groupid, groupname, status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_dictgroup
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_dictgroup
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wyy.mclub.model.Dictgroup">
    insert into db_dictgroup (oid, groupid, groupname, 
      status, remark)
    values (#{oid,jdbcType=INTEGER}, #{groupid,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wyy.mclub.model.Dictgroup">
    insert into db_dictgroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="groupname != null">
        groupname,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wyy.mclub.model.Dictgroup">
    update db_dictgroup
    <set>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wyy.mclub.model.Dictgroup">
    update db_dictgroup
    set groupid = #{groupid,jdbcType=VARCHAR},
      groupname = #{groupname,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.wyy.mclub.model.Dictgroup">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="groupid" jdbcType="VARCHAR" property="groupid" />
    <result column="groupname" jdbcType="VARCHAR" property="groupname" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, groupid, groupname, status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_dictgroup
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_dictgroup
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wyy.mclub.model.Dictgroup">
    insert into db_dictgroup (oid, groupid, groupname, 
      status, remark)
    values (#{oid,jdbcType=INTEGER}, #{groupid,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wyy.mclub.model.Dictgroup">
    insert into db_dictgroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="groupname != null">
        groupname,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wyy.mclub.model.Dictgroup">
    update db_dictgroup
    <set>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wyy.mclub.model.Dictgroup">
    update db_dictgroup
    set groupid = #{groupid,jdbcType=VARCHAR},
      groupname = #{groupname,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=INTEGER}
  </update>-->
</mapper>